<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mystery.dao.CollegeMapper">

    <select id="CollegeList"  resultType="com.mystery.entity.College">
        select * from college
    </select>
    <delete id="dele" parameterType="Integer">
        delete from college where id = #{id}
    </delete>
    <insert id="save" parameterType="String">
        insert into college (name)
        values (#{name})
    </insert>
    <delete id="batchDelete" parameterType="java.util.List">
        delete from college where id in
        <foreach collection="list" item="userIds" open="(" separator="," close=")">
            #{userIds}
        </foreach>
    </delete>
    <select id="queryById" parameterType="int" resultType="com.mystery.entity.College">
        select * from  college where id=#{id}
    </select>

    <update id="UpdataByCollegeName" parameterType="com.mystery.entity.College">
        UPDATE college SET name =#{name}
        WHERE id=#{id}
    </update>
</mapper>