<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mystery.dao.HealthdailyMapper">
    <select id="listuser" resultType="com.mystery.entity.Healthdaily">
        select * from healthdaily
    </select>

    <select id="query" parameterType="String" resultType="com.mystery.entity.Healthdaily">
        select * from healthdaily
        <where>
                <if test="datemin != null">
                    /*time&lt;=#{datemax} and*/ #{datemax}>=time
                </if>
                <if test="#{datemax} != null">
                    time&gt;=#{datemin}
                </if>
                <!--<if test="querycontent == null">
                    time&gt;=#{datemin} AND time&lt;=#{datemax}
                </if>
                <if test="datemin == null and datemax==null">
                    numberl=#{querycontent}
                </if>
                <if test="datemin != null and datemax !=null and querycontent!=null">
                    time&gt;=#{datemin} AND time&lt;=#{datemax} AND numberl=#{querycontent}
                </if>-->
        </where>
    </select>
</mapper>