<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mystery.dao.HealthdailyMapper">
    <select id="listuser" resultType="com.mystery.entity.Healthdaily">
        select * from healthdaily
    </select>

    <select id="query" parameterType="String" resultType="com.mystery.entity.Healthdaily">
        select * from healthdaily where 1 = 1
                <if test="datemin != null and datemin != ''">
                  and time&gt;=#{datemin}
                </if>
                <if test="datemax != null and datemax != ''">
                  and time&lt;=#{datemax}
                </if>
                <if test="QueryContent != null and QueryContent != ''">
                  and numberl=#{QueryContent}
                </if>
    </select>
</mapper>