<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mystery.dao.OutofschoolMapper">
    <select id="getall" parameterType="String" resultType="com.mystery.entity.Outofschool">
        SELECT
        u.id,
        u.number,
        u.leavecontent,
        u.leavetime,
        u.approval,
        c.photo
        FROM
        outofschool u
        LEFT OUTER JOIN `user` c ON u.number = c.numberl where 1 = 1
        <if test="number != null and number !=''">
            and  u.number=#{number}
        </if>
    </select>
    <update id="UpdateApproval" parameterType="String" >
        UPDATE outofschool SET approval=#{whether}
        WHERE number=#{number}
    </update>
    <insert id="SaveAdd" parameterType="com.mystery.entity.Outofschool">
        insert into outofschool (number,leavecontent,leavetime,approval)
        values (#{number},#{leavecontent},#{leavetime},0)
    </insert>

    <delete id="BatchDeleOutoFschool" parameterType="java.util.List">
        delete from  outofschool where id in
        <foreach collection="list" item="userIds" open="(" separator="," close=")">
            #{userIds}
        </foreach>
    </delete>

</mapper>