<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mystery.dao.UserMapper">

    <select id="getUserName" parameterType="int" resultType="String">
        select username from user WHERE id=#{id}
    </select>
    <select id="getName" parameterType="string" resultType="int">
        SELECT count(*)  FROM user WHERE username=#{name}
    </select>
    <insert id="save" parameterType="com.mystery.entity.User" >
        insert into user (username,password,role)
        values (#{username},#{password},#{role})
    </insert>
    <select id="GetUserList" parameterType="string" resultType="com.mystery.entity.User">
        SELECT * FROM user WHERE username=#{name}
    </select>
    <select id="AllUserList" resultType="com.mystery.entity.User">
        SELECT * FROM user
    </select>
    <update id="PersonalUpdate" parameterType="com.mystery.entity.User">
        UPDATE user SET numberl=#{numberl},fullname=#{fullname},gender=#{gender},speciality=#{speciality},classnumber=#{classnumber},contactnumber=#{contactnumber},mail=#{mail},college=#{college},photo=#{photo}
        WHERE username=#{username}
    </update>
</mapper>